{% extends '/layout/layout1.html.twig' %}

{% block css %}
<style>

</style>
{% endblock %}

{% block html %}

    <div class="block">
        <div>

            <h2>About BoosterPax</h2>
            <p>
                BoosterPax was launched in 2020 as a free, fun way to simulate opening vintage Magic: The Gathering booster packs.
                Very few boosters from the 93-94 MTG era still exist in unopened condition. Whenever one of the few remaining packs is listed for auction, it typically sells for thousands of US dollars.
            </p>
            <p>
                The algorithm used on BoosterPax for generating Alpha-Legends booster packs is print accurate. The original card printing sheets are simulated and cut to generate each pack. Therefore, if you pull
                enough Alpha/Beta/Unlimited packs, eventually you will get an "Island" as a rare, just like in the original booster boxes.
            </p>
            <p>
                A unique booster is generated with each page refresh. You can repeat peeling open any booster by tapping the "Save Draw" button, and jotting down the URL.
            </p>

        </div>
    </div>

{% endblock %}
